:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-drawer-container {
  flex: 1 1 auto;
  background-color: rgb(32, 32, 32);
}

mat-drawer {
  width: 200px;
}

main {
  padding: 1rem;
}
