@for (monthData of data; track data) {
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>{{ monthData.year }}</span>
      <span>{{ monthData.month | monthName }}</span>
    </mat-panel-title>
    <mat-panel-description>
      <div class="sg">
        Savings:
        <span>R$ {{ getSavings(monthData.year, monthData.month) }}</span>
      </div>
      <div class="ex">
        Expenditures:
        <span>R$ {{ getExpenditure(monthData.year, monthData.month) }}</span>
      </div>
      <div class="er">
        Earnings:
        <span>R$ {{ getEarnings(monthData.year, monthData.month) }}</span>
      </div>
      <div class="ps">
        Previous Savings:
        <span>R$ {{ getPreviousSavings(monthData.year, monthData.month) }}</span>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <section>
    <div class="income">
      <h4>Income</h4>
      <exp-table [transactions]="monthData.transactions" />
    </div>
    <div class="expenditure">
      <h4>Expenditure</h4>
      <exp-table [transactions]="monthData.transactions" [type]="'DEBIT'" />
    </div>
  </section>
</mat-expansion-panel>
}
