mat-expansion-panel {
  margin-bottom: 1rem;

  mat-panel-title {
    span {
      font-size: 1.2rem;
      font-weight: bold;
      color: #69f0ae;
      margin-right: 1rem;
    }
  }

  mat-panel-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      margin-right: 1rem;
      font-size: 1rem;

      span {
        font-size: 1.1rem;
        font-style: normal;
        font-weight: bold;
        margin-left: 0.25rem;
        color: #43a047;
      }
    }

    .ex {
      span {
        color: #f44336;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      text-align: center;
      letter-spacing: 2px;
    }

    .income h4 {
      color: #43a047;
    }

    .expenditure h4 {
      color: #f44336;
    }
  }

  @media (max-width: 768px) {
    mat-panel-title {
      span {
        font-size: 1rem;
        margin-right: 0.5rem;
      }
    }

    mat-panel-description {
      div {
        font-size: 0.8rem;
        margin-right: 0.5rem;

        span {
          font-size: 0.8rem;
        }
      }

      .ex {
        span {
          color: #f44336;
        }
      }
    }

    section {
      flex-direction: column;

      .income,
      .expenditure {
        width: 100%;

        h4 {
          font-size: 1rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    mat-panel-title {
      span {
        font-size: 0.9rem;
        margin-right: 0.25rem;
      }
    }

    mat-panel-description {
      div {
        font-size: 0.8rem;
        margin-right: 0.25rem;

        span {
          font-size: 0.9rem;
        }
      }
    }

    section {
      h4 {
        font-size: 0.9rem;
      }
    }
  }
}
